<!-- <app-header>Accordion</app-header>
<div class="each-page-holder container">
  <div class="row">
    <div class="left-content col-md-9">
      <mm-accordion>
            <mm-accordion--title [id]="acc1">accordion header</mm-accordion--title>
            <mm-accordion--content [target]="acc1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, repellendus. Laborum consequuntur minima, officiis quisquam ex aut? Natus minima architecto iure ab atque accusamus repellat facere dignissimos dolor? Assumenda, expedita.</mm-accordion--content>
      </mm-accordion>
    </div>
    <div class="right-content col-md-3"></div>
  </div>
</div> -->
